/**
 * Styles for Component.tsx
 * @created 2020-11-08 17:07:26
 * @author trantien <tientv20@fpt.com.vn>
 */
@import "styles/variables";

.scroll {
  flex: 1;
}

.container {
  flex: 1;
  padding: 48px 16px;
}

.content {
  flex: 1;
  position: absolute;
}

.imageBackground {
  width: 500px;
  height: 1000px;
  opacity: 0.7;
  position: absolute;
  z-index: -1;
}

.banner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.wrapper {
  margin-top: 20px;
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.slide1 {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #9DD6EB;
  border-radius: 10px;
}

.viewBanner {
  flex: 1;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.slide3 {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #9B9B9B;
  border-radius: 10px;
}

.text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.modal {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  width: 70%;
}

.modalView {
  padding: 48px 16px;
  background-color: #f6f6f6;
  flex: 1;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.line {
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.name {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.backIcon {
  position: absolute;
  right: 0;
}

.modalBottom {
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 16px;
  flex: 1;
}

.logout {
  color: blue;
  font-size: 14px;
  line-height: 20px;
}

.value {
  margin-left: 16px;
}

.viewCharts {
  width: 100%;
  background-color: #9B9B9B;
  padding: 16px;
  border-radius: 10px;
}
