$primary: '#6d4f4';

$back-ground-home: '#c2d9f8';

$spacing: 5px;

$login-spacing: 25px;

$border-radius: 10px;

$base-line: 48px;

$border-color: #F0F0F3;

$border-radio: #9B9B9B;

$button-border-radius: $base-line * 0.5;

$border-medium-radius: 20px;

$font-default: 14px;

$button-box-shadow: 0 0 4px rgba(165, 31, 31, 0.8);

$border-color: #F0F0F3;

